.section{
    background-color: white;
    width: 95%;
    margin: 10px auto;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0px 5x 10px -5px rgb(0,0,0,.5);
    text-align: center;
    /* display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fill, 180px); */
  }

  .header{
    display: flex;    
    gap: 1em;
  }

  .card_datos{
    display: flex;
    flex-grow: 1;
    font-family: 'Bangers', cursive;
  }

  .card_signos{
    flex-grow: 1;
    font-family: 'Bangers', cursive;
  }

  .dogsbody{
    background: url("../assets/img/dogsbody.jpg");
    width: 500px;
    height: 540px;
  }