/*----------------------------------------
	Colors
------------------------------------------*/

:root{
    --mainbackground: #242632;
    --primary: #daa02c;
    --secondly: #fcd762; 
    --thirdly: #dc5c30;
    --blue-text: #2196f3;
    --red-text: #F44336;
    --teal-text: #009688;    
    --purplegray: #6f72a8;
    --bluegradient: rgba(25, 131, 223, 0.75);
    --greengradient: rgba(71, 223, 25, 0.75);
    --pinkgradient: rgba(223, 25, 213, 0.75);
    --yellowgradient:  rgba(220, 223, 25, 0.75);
    --orangegradient:   rgba(223, 109, 25, 0.75);
    --whitegradient:   rgba(255, 255, 255, 0.75);
    --greygradient:   rgba(255, 255, 255, 0.1);
    --graygradient:  rgba(3,3,3,.75);
  }

.blue-text {
    color: var(--blue-text)
}
.red-text {
    color: var(--red-text);
}
.teal-text {
color: var(--teal-text);
}