.calendar-left {
    width: 300px;
    height: 450px;
    /* border-radius: 20px 0px 0px 20px; */

    border-radius: 20px;
    background-color: var(--primary); 
    /* position: relative; */
    /* z-index: -1; */
    /* bottom: 500px; */
    color: white;
    justify-self: center;
  }
  
  
  .num_date {
    font-size: 6rem;
    width: 50%;
    margin: 1rem auto;
    font-weight: 700;
  }

  .month{
    text-transform: uppercase;
  }
  
  .day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    /* position: relative;
    bottom: 60px; */
  }
  
  .current-events {
    font-size: 15px;
    position: relative;
    /* margin-left: 25px;
    bottom: 30px; */
  }
  
  .posts {
    text-decoration: underline dotted;
  }
  .posts:hover{
    color:#27e879 !important;
  }
  
  .create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
  }
  
  .event-line {
    width: 90%;
  }
  
  
  .add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
  }
  
  
  .horarios{
    background: white;
    border-color: #aaaab1;
    border-bottom: 1px solid #aaaab1;
    border-left: 1px solid #aaaab1;
    border-right: 1px solid #aaaab1;
    /* border-radius: 8px; */
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    /* position: relative; */
    height: 50%;
  }
  .btn_horario{
    padding: 10px 4px;
    margin: 5px 5px;
    background-color: white;
    font-size: .9em;
    border: none;
  }
  
  .btn_horario_selected,
  .btn_horario:hover{
    color: var(--secondly);
    /* color: white; */
    font-weight: 700;
    /* background-color: #0071CE; */
    border-radius: 5px;
    transform: scale(1.1);
    border: 1px solid #AAAAB1;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .booked_hour {
    color: gray;
    font-weight: bold;
    pointer-events: none;
  }