
@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Spartan', sans-serif;    
    background-color: #f0f2f5;
}

.container{
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    padding-top: 15vh;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-areas: 
    "main main main main main main main main main main main main"
    "serv serv serv serv serv serv serv serv serv serv serv serv"
    "paq paq paq paq paq paq paq paq paq paq paq paq";
}

.navbar-fixed{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.main{
  min-height: 640px;
  grid-area: main;
  margin: 5% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mainbanner{
  background-image: url("../assets/img/firstbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/5;
  min-width: 405px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2em;
}
.logo-holder{
  text-align:center;
  margin-left: 23px;
}

.logo-mb h3 {
  color: var(--whitegradient);
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 50px;
}
.logo-mb p {
  font-size: 14px;
  letter-spacing: 7px;
  text-transform: uppercase;
  background: var(--secondly);
  font-weight: 400;
  color: #fff;
  padding-left: 5px;
}
.secondbanner {
  background-image: url("../assets/img/secondbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 10%;
}
.secondbanner .title{
  color: var(--secondly);
  padding: 10%;
  font-size: 1.8rem;
  font-weight: bold;
  display: none;
}
.secondbanner .content{
  font-size: 1.5rem;
  font-weight: bold;
  display: none;
}

@media only screen and (min-width: 800px) {
  .mainbanner {
    grid-column: 1/4;
  }  
  .secondbanner {
    grid-column: 4;
  }  
  .secondbanner .title{
    display: block;
  }
  .secondbanner .content{
    display: block;
  }
}
.servicios{
  grid-area: serv;
  display: grid;
  align-items: center;
  grid-auto-flow: dense;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%,20rem), 1fr));
}
@media only screen and (max-width: 1297px) {
  .servicios{
    margin: 0 5%;
    gap: 2em;
  }  
}
.staff{
  grid-area: paq;
  display: flex;
  padding: 5% 10%;
  justify-content: space-around;
}


.staff .review{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 0 10%;
  animation: 2s shake;
  animation-play-state: paused;
}

.staff .review-image{
  animation: 2s roll-in-left;
  animation-play-state: paused;
}
.staff .review h1{
  color: var(--secondly);
}
.staff .review p{
  color: var(--purplegray);
}

@keyframes shake {
  0% {
    rotate: -45deg;
  }
  50% {
    rotate: 0deg;
  }
  100%{
    rotate: 45deg;
  }
}

/**
 * ----------------------------------------
 * animation roll-in-left Generated by Animista
 * ----------------------------------------
 */
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}


/*----------------------------------------
	General button
------------------------------------------*/
.btn{
  background-color: var(--primary);
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  padding: .5em 1em;
  border: none;
  border-radius: .5em;
  cursor: pointer;
}

/*----------------------------------------
	Main navbar
------------------------------------------*/
.headernav{
  /*background: #37474f;*/
  background-image: linear-gradient(195deg,#42424a,#191919);
  color: white;
  padding: .5rem;
}

.headernav_logo{
  display:flex;
  align-items: center;
  justify-content: left;
  margin-left: 23px;
}
/*----------------------------------------
	Second navbar
------------------------------------------*/
.horizontalnav{
  background: white;
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.04), 0 1px 5px 0 rgba(0, 0, 0, 0.02), 0 3px 1px -2px rgba(0, 0, 0, 0.02);
}
.horizontalnav ul {
  /* display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  width: 96%; */
  margin-left: 23px;
  float: left;
  display: flex;
  justify-content: flex-start;
}
.horizontalnav ul li {
  text-align: center;
  list-style-type: none;
  padding: .5rem;
  transition: background-colorss .3s;
  /* float: left;
  padding: 0;
  -webkit-transition: background-color .3s;
  transition: background-colorss .3s;
 */
}
.horizontalnav ul li.active {
  background-color: rgba(0, 0, 0, 0.05);
}
.horizontalnav ul li:hover {
  background-color: rgba(0, 0, 0, .1);
}
.horizontalnav ul a {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 1rem;
  /*padding: 0 15px;  */
  cursor: pointer;
  padding: 0 18px;
  transition: background-color .3s;
  color: transparent;
}
.horizontalnav ul li a i {
  color: #787878;
}

.horizontalnav ul li a p {
  color: #787878;
}

.legend{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo i {
    font-size: 60px;
    display: inline-block;
    margin-right: 5px;
    /* color: #34495e; */
    color: #0071CE;
    color: white;
}
.logo .legend h3 {
    font-family: 'Bangers', cursive;
    font-weight:300;
    font-size: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* color: #0071CE; */
    color:white
}
.logo h3 span {
    background: yellow;
    background-image: linear-gradient(to left bottom, #e2f854, #cedf46, #b9c638, #a5ae2a, #91971c);
    color: #000;
    display: inline-block;
    line-height: 1.5;
    padding: 0 10px;
}
.logo .legend p {
    font-size: 13px;
    color: white;
    font-style: italic;
    border-top: 1px solid #7a7979;
    letter-spacing: 2px;
    padding-top: 3px;
    font-family: 'Lobster', cursive;
}

.navbar > ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    top: 10px;
    list-style: none;
    
  }
  .navbar > ul > li {
    width: 100%;
  }
  .navbar > ul > li > a{   
    /* display: block; */
    min-width: fit-content;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    display: flex;
    gap: 1em;
  }
  .navbar > ul > li >a:hover{
    background-color: #0071CE;
    border-radius: 5px;
  }
  
hr{
    height: 2px;
    margin: 1.5rem 0;
    background-color: white;
    border: 0;
    opacity: .25;
}


.pagetitle{
    font-family: 'Oswald', sans-serif;
    color: #0071CE;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.btnlogin{
    display: flex;
    gap: 0.8em;
    position: fixed;
    right: 23px;
    top: 23px;
    padding-top: 15px;
    z-index: 997;
    font-family: 'Oswald', sans-serif;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 10px;
    background-image: linear-gradient(195deg,#42424a,#191919);
    color: white;
  }
  
  .modal-body {
    padding: 20px;
    font-size: 1.2em;
    color: green;
}  
/*----------------------------------------
	Cards
------------------------------------------*/
.card {
  position: relative;
  margin: .5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
}

.card.sm{
  width: 20rem;
}
.card .card-img {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}
/*----------------------------------------
	infografia
------------------------------------------*/

.infographic{
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 460px;
  justify-self: center;
}

.whitegd {
  background: var(--whitegradient);
}
.bluegd {
  background: var(--bluegradient);
}

.greengd {
  background: var(--greengradient);
}
.pinkgd {
  background: var(--pinkgradient);
}
.yellowgd {
  background: var(--yellowgradient);
}
.orangegd {
  background: var(--orangegradient);
}

.infographic img{
  height:100%;
  width:100%;
}
.infographic .title{
  position: absolute;
  top: 10px;
  background: inherit;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.infographic .content{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: inherit;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 150px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.section{
  /*box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}